@use '@carbon/react/scss/spacing';

.plugin-catalog {
  .cds--inline-notification {
    margin-bottom: spacing.$spacing-05;
  }
  .cds--data-table-container {
    overflow-x: auto;
  }
  &__description {
    display: -webkit-box;
    max-inline-size: min(32rem, 40vw);
    overflow: hidden;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  dl {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: spacing.$spacing-05;
  }
  pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
  dt {
    font-weight: 600;
  }
  dd {
    overflow-wrap: anywhere;
  }
}
