# Default owners for the entire repository
* @wanaku-ai/maintainers

# API
/api/ @wanaku-ai/maintainers

# Core
/core/ @wanaku-ai/maintainers

# Apps
/apps/ @wanaku-ai/maintainers
/apps/ui/ @wanaku-ai/maintainers-ui

# Capabilities
/capabilities/ @wanaku-ai/maintainers

# UI
/ui/ @wanaku-ai/maintainers-ui

# Operator
/apps/wanaku-operator/ @wanaku-ai/maintainers

# Documentation
/docs/ @wanaku-ai/maintainers

# Deployment
/deploy/ @wanaku-ai/maintainers

# Archetypes
/archetypes/ @wanaku-ai/maintainers

# CI/CD
/.github/ @wanaku-ai/maintainers
