// Bring in all the styles for Carbon
@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

@use "@carbon/react/scss/reset";
@use "@carbon/react/scss/grid";
@use "@carbon/react/scss/layer";
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme";

@include grid.flex-grid();

:root[data-carbon-theme="g10"] {
  @include theme.theme(themes.$g10);
}

:root[data-carbon-theme="g100"] {
  @include theme.theme(themes.$g100);
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme.theme(themes.$g100);
  }
}

body {
  background: theme.$background;
  color: theme.$text-primary;
}
