@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.title {
  padding: $spacing-06 $spacing-07;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: $text-primary;
}

.description {
  padding: 0 $spacing-07;
  padding-bottom: $spacing-06;
  font-size: 0.875rem;
  line-height: 1.43;
  color: $text-secondary;
  max-width: 600px;
}

ul {
  margin: 1rem 0;
  list-style-type: disc;
  padding-left: 2rem;
}

ol {
  margin: 1rem 0;
  list-style: decimal;
  padding-left: 2rem;
}

li {
  margin-bottom: 5px;
}

#resource-tab-panel-wrapper {
  height: 460px;
  overflow-y: auto;
}

#prompts-tab-panel-wrapper {
  height: 460px;
  overflow-y: auto;
}
